<h2> Nouveau Post </h2>

<!--on crée le formulaire avec deux textarea-->  
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="Titre">
          Titre
        </label>
        <textarea id="Titre" class="form-control" rows="1" cols="120" name="titre" ngModel required>
        </textarea>
      </div>
      <div class="form-group">
        <label for="Contenu">
          Contenu
        </label>
        <textarea id="Contenu" class="form-control" rows="5" cols="120" name="contenu" ngModel required>
        </textarea>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Soumettre</button>
    </form>
  </div>
</div>